[mysqld]
port                        = 3306
key_buffer_size             = 16M
read_rnd_buffer_size        = 262144
skip_external_locking       = 1
query_cache_size            = 1M
query_cache_limit           = 1M
max_connections             = 151
table_open_cache            = 2000
net_buffer_length           = 16384
max_allowed_packet          = 16M
!includedir /etc/mysql/conf.d

[mysql]
no-auto-rehash
!includedir /etc/mysql/conf.d

[client]
user                        = root
!includedir /etc/mysql/conf.d

[mysqld_safe]
timezone                    = America/Los_Angeles

[mysqldump]
quick
max_allowed_packet          = 16M

[myisamchk]
key_buffer_size             = 20M
sort_buffer_size            = 20M
read_buffer                 = 2M
write_buffer                = 2M

[mysqlhotcopy]
interactive-timeout