# Ignore .git folder
.git*
.gitignore

logstash-logo.png
LICENSE
README.md
docker-compose.yml
.DS_Store
build
release
Makefile
VERSION

apache_logs
nginx_logs
module/auditd*
module/icinga*
module/mysql*
module/redis*
module/system*
